<div class="container">
  <div>
    <h3>Create new recipe</h3>
  </div>
  <div class="row mt-3">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()" #f="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          formControlName="name"
          id="name"
          class="form-control"
        >
      </div>
      <small
        *ngIf="fieldHasError('name', 'required')"
        class="form-text invalid-form-text"
      >
        Enter recipe's name
      </small>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          formControlName="description"
          id="description"
          class="form-control"
          cols="30"
          rows="10"></textarea>
      </div>
      <small
        *ngIf="fieldHasError('description', 'required')"
        class="form-text invalid-form-text"
      >
        Write some description
      </small>

      <div class="form-group">
        <label for="imageUrl">Image Url</label>
        <input
          type="text"
          formControlName="imageUrl"
          id="imageUrl"
          class="form-control"
        >
      </div>
      <small
        *ngIf="fieldHasError('imageUrl', 'required')"
        class="form-text invalid-form-text"
      >
        Enter image URL
      </small>
      <div class="form-group">
        <label for="ingredients">Ingredients</label>
        <textarea
          type="text"
          formControlName="ingredients"
          id="ingredients"
          cols="30"
          rows="10"
          class="form-control"
        ></textarea>
      </div>
      <small
        *ngIf="fieldHasError('ingredients', 'required')"
        class="form-text invalid-form-text"
      >
        Type ingredients
      </small>

      <div class="form-group" formArrayName="steps">
        <button
          type="button"
          class="btn btn-outline-info"
          (click)="addStep()"
        >Add step</button>
        <div class="form-inline " *ngFor="let recipeControl of getStepControls(); let i = index">
          <div [formGroupName]="i">
            <label for="image">Image URL</label>
            <input
              type="text"
              formControlName="image"
              id="image"
              class="form-control"
            >
            <label for="image">Description</label>
            <input type="text" formControlName="description" class="form-control">
          </div>
        </div>
      </div>
      <div class="form-group">
        <button
          class="btn btn-primary"
          type="submit"
          (click)="saveRecipe()"
          [disabled]="f.invalid"
        >Submit</button>
      </div>
    </form>
  </div>
</div>
