<h4>Recipes</h4>

<div *ngIf="isFetching" class="spinner-border">
  <span class="sr-only">Loading...</span>
</div>

<ng-container *ngIf="!isFetching">

  <app-recipes-item
    *ngFor="let recipe of recipes"
    [recipe]="recipe"
  ></app-recipes-item>
</ng-container>

