<div class="card mb-2">
  <div class="row no-gutters">
    <div class="col-sm-4">
      <img
        [src]="recipe.imageUrl" alt="{{ recipe.name }}"
        style="max-width: 100%;"
      />
    </div>
    <div class="col-sm-3">
      <div class="card-body">
        <h5 class="card-title">{{ recipe.name }}</h5>
        <p class="card-text small">{{ recipe.description }}</p>
        <a class="btn btn-secondary" [routerLink]="['view']">View</a>&nbsp;
        <button
          class="btn btn-danger"
          (click)="onRemove()"
          [disabled]="isRemoving"
        >
          <span>
        Delete
      </span>
        </button>
      </div>
    </div>
  </div>
</div>

