<div class="row mt-2">
  <div class="col">
    <h4>Recipe details</h4>
    <div class="list-group" *ngIf="!isFetching; else loading">
      <a
        *ngFor="let recipe of recipes"
        class="list-group-item list-group-item-action"
        [routerLink]="[recipe.id]"
        routerLinkActive="active"
      >
        <b>Name:</b> {{ recipe.name }}
        <b>Description:</b> {{ recipe. description}}
        <b>Photo:</b> <img
        [src]="recipe.imageUrl" alt="{{ recipe.name }}"
        style="max-width: 100%;"
      />
        <b>Ingredients:</b> {{ recipe.ingredients }}
        <a class="btn btn-info mt-1">Steps:</a>
      </a>
    </div>

    <ng-template #loading>
      <span class="spinner-border">
        <span class="sr-only">Loading...</span>
      </span>
    </ng-template>
  </div>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>
