<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Recipes</a>
  <div class="navbar-expand">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
        <a  routerLink="/new" class="nav-link">Add</a>
      </li>
    </ul>
  </div>
</nav>
